body,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Rubik";
  font-weight: 900;
}

h2 {
  font-family: "Rubik";
  font-weight: 700;
  color: #1EA192;
}

P {
  font-family: "Open Sans";
}

.header-container {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  align-items: center;
  padding: 1rem 4rem;
  border-bottom: 1px solid #ccc;
  max-width: 1000px;
}

.navbar-container {
  display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

.navbar-container li {
  flex: 1 1 auto;
}

.navbar-container a {
  display: block;
	color: #464546;
	padding: 20px;
	text-decoration: none;
	font-size: 1.2rem;
  font-family: 'Open Sans';
}

.rafting-logo {
  width: 100px;
  height: 100px;
}

.hero {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.rafting-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-article {
  background: rgba(70, 69, 70, 0.8);
  padding: 20px;
  width: 80%;
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  bottom: 10%;
  color: white;
  border-radius: 5px;
}

.hero-title {
  position: absolute;
  top: 10%;
  font-size: 2.5rem;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.rafting-employees {
  width: 150px;
  height: auto;
  border-radius: 5px;
}

.history-section h2 {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.history-content {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0rem 4rem;
}

.history-content img {
  width: 300px;
  height: 250px;
  align-self: center;
}

.adventure-section h2 {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.adventure-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0rem 4rem;
}

.adventure-content figcaption {
  display: flex;
  justify-content: center;
}

.adventure-content img {
  width: 150px;
  height: 150px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

footer p {
  flex: 1;
  text-align: center;
}

.sociallinks {
  display: flex;
  gap: 10px;
}

.facebook-icon,
.x-icon,
.instagram-icon {
  width: 50px;
  height: 50px;
}